html {
	min-height: 100%;
}
body {
	font-family: 'DejaVu Sans', Arial, 'Liberation Sans', Freesans, sans-serif;
	margin: 0 auto;
}
#nav-header {
	cursor:default;
	text-align: center;
	background-color: #eaeaea;
	opacity: 0.6;
	padding: 1em;
}
nav {
	margin: 0;
	padding: 0;
}
.nav-button {
	color: #000;
	text-decoration: none;
}
.nav-button:hover {
	cursor: pointer;
	text-decoration: underline;
}
nav>li {
	display: inline;
	padding: 0.75em;
}
#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#main {
	width: 640px;
	float: left;
}
#recently-played {
	cursor:default;
	width: 320px;
	margin-top: 1em;
	float: left;
}
@media all and (max-width: 955px) { 
/*955px to account for browser scroll or border*/
	#container {
		width: 90%;
		min-width: 400px
	}
	#main {
		width: 100%;
	}
	#recently-played {
		display: none;
	}
}
#recently-played>ul {
	list-style-position: outside;
	padding: 0;
	margin: 0;
}
.lfm-track {
	font-family: Arial,​ sans-serif;
	font-size: 0.75em;
	border-top: 0.07em solid black;
	display: block;
	padding: 0.5em;

}
.lfm-track:last-child {
	border-bottom: 0.07em solid black;
}
.lfm-track a {
	color: #000;
	text-decoration: none;
}
.lfm-track a:hover {
	cursor: pointer;
	text-decoration: underline;
}
.lfm-title {
	padding-right: 1em;
}
.lfm-time {
	float: right;
}