<!doctype html>

<html ng-app>
	<head>
		<meta charset="utf-8">
		<title>NickG</title>
		<link href="css/main.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="js/libs/moment.min.js"></script>
		<script src="js/controllers.js"></script>
	</head>
	<body>
		<header id="nav-header">
			<nav>
				<ul>
					<li><a class="nav-button" href="">Home</a></li>
					<li><a class="nav-button" href="http://blog.nickg.org">Blag</a></li>
					<li><a class="nav-button" href="https://github.com/nickelpro">Code</a></li>
					<li><a class="nav-button" href="about.html">About</a></li>
					<li><a class="nav-button" href="mailto:nickelpro@gmail.com">Contact</a></li>
				</ul>
			</nav>
		</header>
		<div id="container">
			<section ng-controller="BlogFeedCtrl" id="main">
				<header>What I'm Writing About</header>
				<ul>
					<li ng-repeat="article in articles" class="article-entry">
						<span class="article-time">{{article.time}}</span>
						<span class="article-title">
							<a href={{article.link}}>{{article.title}}</a>
						</span>
					</li>
				</ul>
			</section>
			<section ng-controller="LastFmCtrl" id="recently-played">
				<header>What I'm Listening To</header>
				<ul>
					<li ng-repeat="track in tracks" class="lfm-track">
						<span class="lfm-time">{{track.time}}</span>
						<span class="lfm-title">
							<a href={{track.artist_url}}>{{track.artist['#text']}}</a> – 
						<a href={{track.url}}>{{track.name}}</a>
						</span>
					</li>
				</ul>
			</section>
			<section ng-controller="GithubRepoCtrl" id="github-repos"> 
				<header>What I'm Hacking On</header>
					<ul>
					<li ng-repeat="repo in repos" class="github-repo">
						{{repo.name}}
					</li>
				</ul>
			</section>
		</div>
	</body>
</html>